{% extends 'base.html' %}

{% load static %}


{% block content %}
     <div class="single-product-area pt-22">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <form method="post" action="#">
                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">Hình ảnh</th>
                                            <th class="product-name">Sản phẩm</th>
                                            <th class="product-price">Giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if CartItems|length <= 0 %}
                                        <td colspan="6" style="font-size:16px;font-weight:700;padding:36px">Giỏ hàng đang trống</td>
                                    {% else %}
                                        {% for item in CartItems %}
                                            {% csrf_token %}
                                            <tr class="cart_item">
                                                <td class="product-remove" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm khỏi giỏ hàng?')">
                                                    <a title="Remove this item" class="remove" href="{% url 'remove_cart_item' item.product.id item.id %}">×</a> 
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="{{product.get_absolute_url}}"><img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="{{item.product.img.url}}" pagespeed_url_hash="2028383707" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a href="{{product.get_absolute_url}}">{{item.product.name}}</a> 
                                                </td>

                                                <td class="product-price">
                                                    <span class="amount">{{item.product.price}}</span> 
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <a href="{% url 'remove_cart' item.product.id item.id %}" style="font-size:12px;padding:4px 12px; border-radius:2px; background:#5a88ca;color:#fff">-</a>
                                                        <span style="padding:2px 10px;margin:0 5px; border:1px solid #5a88ca">{{item.quantity}}</span>
                                                        <a href="{% url 'add_cart' item.product.id %}" style="font-size:12px;padding:4px 12px; border-radius:2px; background:#5a88ca;color:#fff">+</a>
                                                    </div>
                                                </td>

                                                <td class="product-subtotal">
                                                    <span class="amount">${{item.sub_total}}</span> 
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                       

                                        <tr>
                                            <td class="actions" colspan="6" >
                                                <div class="coupon">
                                                    <label for="coupon_code">Mã Giảm Giá:</label>
                                                    <input type="text" placeholder="Nhập mã tại đây" value="" id="coupon_code" class="input-text" name="coupon_code" style="margin-left:10px">
                                                    <input type="submit" value="Lấy mã giảm giá" name="apply_coupon" class="button" style="margin-left:20px">
                                                </div>
                                                {% if CartItems|length > 0 %}
                                                    <a href="{% url 'checkout' %}" style="margin-left:480px;line-height:42px;padding:11px 20px;background-color:#5a88ca;color:#fff;font-size:17px;text-decoration:none" class="checkout-button button alt wc-forward">Checkout</a>
                                                {% else %}
                                                    <a href="{% url 'shop' %}" style="margin-left:400px;line-height:42px;padding:11px 20px;background-color:#5a88ca;color:#fff;font-size:17px;text-decoration:none" class="checkout-button button alt wc-forward">Return Shop Page</a>
                                                {% endif%}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            </div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock  %}

{% block active %}
                <li class=""><a href="{% url 'home' %}">Home</a></li>
                <li class=""><a href="{% url 'shop' %}">Shop page</a></li>
                <li class="active"><a href="{% url 'cart' %}">Cart</a></li>
                
{% endblock  %}