{% extends 'base.html' %}
{% block content %}
     <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-6 p-b-50 pt-22">
                    <div class="product-content-right">
                        <div class="woocommerce">
                           <form action="{% url 'place_order' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <h3 id="order_review_heading" style="padding-left:14px">YOUR INFORMATION</h3>
                                    <div class="form-group col-sm-6">
                                        <label>First name:</label>
                                        <input type="text" name="first_name" value="First Name..." placeholder="" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Last name:</label>
                                        <input type="text" name="last_name" value="Last name..." placeholder="" class="form-control" >
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Phone:</label>
                                        <input type="text" name="phone" value="+94..." class="form-control" >
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Email:</label>
                                        <input type="email" name="email" value="example@gmail.com" placeholder="" class="form-control" >
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>City:</label>
                                        <input type="text" name="city" value="City..." placeholder="" class="form-control" >
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Address:</label>
                                        <input type="text" name="address" value="Address..." placeholder="" class="form-control" >
                                    </div>
                                </div>
			                    <button type="submit" name="submit" class="btn btn-primary " onclick="return confirm (' Bạn có muốn xác nhận đơn hàng ?')">Place Order</button>

                            </form>

                        
                        </div>                       
                    </div>                    
                </div>
            
                <div class="col-md-6 p-b-50 pt-22">
                    <div class="product-content-right">
                        <div class="woocommerce">
                            <div class="col-md-8 " style="margin-left:130px" >
                                      <h3 id="order_review_heading">Your order</h3>
                                    <div id="order_review" style="position: relative;">
                                        <table class="shop_table">
                                            <thead>
                                                <tr>
                                                    <th class="product-name">Product</th>
                                                    <th class="product-total">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in CartItems %}
                                                <tr class="cart_item">
                                                    <td class="product-name">
                                                       {{item.product.name}} <strong class="product-quantity">× {{item.quantity}}</strong> </td>
                                                    <td class="product-total">
                                                        <span class="amount">${{item.sub_total}}</span> </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>

                                                <tr class="shipping">
                                                    <th>Shipping and Handling</th>
                                                    <td>

                                                        Free Shipping
                                                        <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                                    </td>
                                                </tr>

                                                <tr class="order-total">
                                                    <th>Order Total</th>
                                                    <td><strong><span class="amount">${{total}}</span></strong> </td>
                                                </tr>

                                            </tfoot>
                                        </table>

                                    </div>
                                </div>


                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>  
{% endblock  %}

{% block active %}
                <li class=" "><a href="{% url 'home' %}">Home</a></li>
                <li class=""><a href="{% url 'shop' %}">Shop page</a></li>
                <li class=""><a href="{% url 'cart' %}">Cart</a></li>
                <li class=""><a href="{% url 'checkout' %}">Checkout</a></li>
{% endblock  %}