 {% extends 'base.html' %}
 {% load static %}

 {% block  content%}
     
        <div class="slider-area">
                <!-- Slider -->
                <div class="block-slider block-slider4">
                    <ul class="" id="bxslider-home4">
                        <li>
                            <img src="{%static 'img/slide1.png'%}" alt="Slide" >
                            <div class="caption-group">
                                <h2 class="caption title">
                                    Nhóm <span class="primary">6 <strong>Plus</strong></span>
                                </h2>
                                <h4 class="caption subtitle">Thời trang nam nữ</h4>
                                <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                            </div>
                        </li>
                        <li><img src="{%static 'img/slide2.png'%}" alt="Slide" >
                            <div class="caption-group">
                                <h2 class="caption title">
                                    Mặc là đẹp <span class="primary">50% <strong>off</strong></span>
                                </h2>
                                <h4 class="caption subtitle">T-shirt & Polo</h4>
                                <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                            </div>
                        </li>
                        <li><img src="{%static 'img/slide3.png'%}" alt="Slide" >
                            <div class="caption-group">
                                <h2 class="caption title">
                                    Thời trang  <span class="primary">mùa đông</span>
                                </h2>
                                <h4 class="caption subtitle">Hoodie</h4>
                                <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                            </div>
                        </li>
                        <li><img src="{%static 'img/h4-slide2.png'%}" alt="Slide" >
                            <div class="caption-group">
                            <h2 class="caption title">
                                    Dành cho <span class="primary">học sinh</span>
                                </h2>
                                <h4 class="caption subtitle">Backpacks and school supplies</h4>
                                <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ./Slider -->
        </div> <!-- End slider area -->

{% comment %} 
        <div class="promo-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo promo1">
                            <i class="fa fa-refresh"></i>
                            <p>30 Days return</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo promo2">
                            <i class="fa fa-truck"></i>
                            <p>Free shipping</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo promo3">
                            <i class="fa fa-lock"></i>
                            <p>Secure payments</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo promo4">
                            <i class="fa fa-gift"></i>
                            <p>New products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End promo area -->
 {% endcomment %}

        <div class="maincontent-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="latest-product">
                            <h2 class="section-title">Best Seller</h2>
                            <div class="product-carousel">
                                {% for product in Products %}
                                    <div class="single-product">
                                        <div class="product-f-image">
                                            <img src="{{product.img.url}}" alt="" >
                                            <div class="product-hover">
                                                <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                <a href="single-product.htm" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            </div>
                                        </div>
                                        
                                        <h2><a href="single-product.htm">{{product.name}}</a></h2>
                                        
                                        <div class="product-carousel-price">
                                            <ins>{{product.price}}</ins> <del>$100.00</del>
                                        </div> 
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End main content area -->
        
 {% comment %}        <div class="brands-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="brand-wrapper">
                            <div class="brand-list">
                                <img src="{%static 'img/brand1.png'%}" alt="" >
                                <img src="{%static 'img/brand2.png'%}" alt="" >
                                <img src="{%static 'img/brand3.png'%}" alt="" >
                                <img src="{%static 'img/brand4.png'%}" alt="" >
                                <img src="{%static 'img/brand5.png'%}" alt="" >
                                <img src="{%static 'img/brand6.png'%}" alt="" >
                                <img src="{%static 'img/brand1.png'%}" alt="" >
                                <img src="{%static 'img/brand2.png'%}" alt="" >                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End brands area -->
 {% endcomment %}
        
        <div class="product-widget-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-product-widget">
                            <h2 class="product-wid-title">Top Sellers</h2>
                            <a href="" class="wid-view-more">View All</a>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp1.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="1733883786" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Áo nhung</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp2.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="2028383707" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Quần short nữ</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp3.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="2322883628" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Bộ thể thao nam</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-product-widget">
                            <h2 class="product-wid-title">Recently Viewed</h2>
                            <a href="#" class="wid-view-more">View All</a>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp4.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="2617383549" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Bộ đồ nam</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp5.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="1733883786" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Bộ đồ thể thao nam</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp6.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="2028383707" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Bộ sơ mi nam</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-product-widget">
                            <h2 class="product-wid-title">Top New</h2>
                            <a href="#" class="wid-view-more">View All</a>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp7.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="2322883628" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Áo khoác kaki</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp8.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="2617383549" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Set áo phông quần đùi</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                            <div class="single-wid-product">
                                <a href="single-product.htm"><img src="{%static 'img/sp9.jpg'%}" alt="" class="product-thumb" pagespeed_url_hash="1733883786" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                                <h2><a href="single-product.htm">Sét nỉ</a></h2>
                                <div class="product-wid-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product-wid-price">
                                    <ins>$400.00</ins> <del>$425.00</del>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End product widget area -->
{% endblock  %}

{% block active %}
                <li class="active "><a href="{% url 'home' %}">Home</a></li>
                <li class=""><a href="{% url 'shop' %}">Shop page</a></li>
                <li class=""><a href="{% url 'single_product' %}">Single product</a></li>
                <li class=""><a href="{% url 'cart' %}">Cart</a></li>
                <li class=""><a href="{% url 'checkout' %}">Checkout</a></li>
{% endblock  %}