{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5" style="margin-top:50px;margin-bottom:50px">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4" style="text-align:center;">

          <img src="{{object.img.url}}" class="img-fluid" alt="" style="border-radius: 14px;height:460px;">
          <div style="display:flex;justify-content:space-evenly;padding-top:30px;font-size:14px;align-items:center">
            <div style="display:flex;padding:15px 0;align-items:center;font-size:16px">
              <span style="padding-right:10px">Chia sẻ sản phẩm với</span>
              <div style="display:flex">
                <i class="fab fa-facebook" style="color:#3b5999;font-size:25px;margin-right:8px"></i>
                <i class="fab fa-twitter" style="color:#4cd1ff;font-size:25px;margin-right:8px"></i>
                <i class="fab fa-instagram" style="color:#f3947b;font-size:25px;margin-right:8px"></i>
              </div>
            </div>

            <span style="height:40px;width:1px;background-color:#ccc;display:block;"></span>

            <div style="display: flex;padding:15px 0;font-size:16px">
              <i class="fas fa-heart" style="color:red;position:relative;top:-1px;font-size:25px;margin-right:8px"></i>
              <p style="margin-bottom:0px">Đã thích (2.3k)</p>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4" style="padding-left:100px">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3" style="position:relative;left:-15px">
              <a href="">
                <span class="badge purple mr-1">{{ object.category }} </span>
              </a>
            </div>
            
            <strong>
              <h1>
                <p style="color:#5a88ca" >
                  <span class="">{{ object.name }} </span>
                </p>
              </h1>
              
            </strong>

            <p class="lead">
              {% if object.discount_price %}
                <span class="mr-1" style="color:#ccc">
                  <del>${{ object.price }}</del>
                </span>
                <span>${{ object.discount_price }}</span>
              {% else %} 
                <span>${{ object.price }} </span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Mô tả sản phẩm</p>

            <p>{{ object.description }}</p>

            
            <a href="{% url 'add_cart' product.id %}" class="btn btn-primary btn-md my-0 p">
              Thêm vào giỏ hàng
              <i class="fas fa-cart-plus" style="font-size:13px"></i>
            </a>
            

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      <br>
      <hr >
      
    </div>
  </main>

{% endblock content %}

{% comment %} {% block active %}
                <li class=""><a href="{% url 'home' %}">Home</a></li>
                <li class=""><a href="{% url 'shop' %}">Shop page</a></li>
                <li class=""><a href="{% url 'cart' %}">Cart</a></li>
                <li style="margin-left: 488px; margin-top: 13px;">
                    <form action="{% url 'search' %}" class="search" method="GET" style="display: flex;">
                        <div class="input-group w-100">
                            <input style="margin-right: 11px; width: 370px;" type="text" class="form-control" placeholder="Search" name="q" value="{{ q }}">
                            <div class="input-group-append">
                                <button style="padding: 7px 20px" class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
                </li>
{% endblock  %}
 {% endcomment %}

{% block active %}
                <li class=""><a href="{% url 'home' %}">Home</a></li>
                <li class=""><a href="{% url 'shop' %}">Shop</a></li>
                <li class=""><a href="{% url 'cart' %}">Cart</a></li>
                <li class="active"><a href="{% url 'shop' %}">Single Product</a></li>
                <li style="margin-left: 340px; margin-top: 13px;">
                    <form action="{% url 'search' %}" class="search" method="GET" style="display: flex;">
                        <div class="input-group w-100">
                            <input style="margin-right: 11px; width: 370px; border-radius:4px" type="text" class="form-control" placeholder="Search" name="q" value="{{ q }}">
                            <div class="input-group-append" style="display: flex;">
                                <button style="padding: 7px 20px" class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form> <!-- search-wrap .end// -->
                </li>
{% endblock  %}